<h1>Symfony Form Component</h1>

<h2>Common options</h2>

<table>
    <thead>
    <tr>
        <th>Option</th>
        <th>Since</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
        <th>Example</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="http://symfony.com/doc/master/book/forms.html#validation-groups">validation_groups</a></td>
        <td>2.0</td>
        <td>string, 2.1: <a href="http://symfony.com/doc/master/book/forms.html#groups-based-on-submitted-data">callback</a></td>
        <td></td>
        <td>It is used to specify which validation groups should be used to validate a form object.</td>
        <td>
<script type="php">
// src/Acme/DemoBundle/Form/Type/UserType.php
use Symfony\Component\OptionsResolver\OptionsResolverInterface;

public function setDefaultOptions(OptionsResolverInterface $resolver)
{
    $resolver->setDefaults(array(
        'validation_groups' => array('registration')
    ));
}
</script>
        </td>
    </tr>
    <tr>
        <td>mapped</td>
        <td>2.1</td>
        <td>bool</td>
        <td><code>true</code></td>
        <td>It is used in cases where you need extra fields in the form (for example: a "do you agree with these terms"
            checkbox) that will not be mapped to the underlying object. To achieve this set it to <code>false</code>.
        </td>
        <td></td>
    </tr>
    <tr>
        <td>property_path</td>
        <td>2.0</td>
        <td>string, <span class="deprecated">false</span></td>
        <td></td>
        <td>If you want to override the property/method name that a field reads from and writes to, you can set
            the property_path option. Its default value is the field's name.
        <td></td>
    </tr>
    <tr>
        <td>data</td>
        <td>2.0</td>
        <td>mixed</td>
        <td>Field value of the underlying object</td>
        <td>Allows to override the initial value for the form or just an individual field.</td>
        <td>
<script type="php">
$builder->add('token', 'hidden', array(
    'data' => 'abcdef',
));
</script>
        </td>
    </tr>
    <tr>
        <td>disabled</td>
        <td>2.0</td>
        <td>bool</td>
        <td>false</td>
        <td>If you don't want a user to modify the value of a field, you can set the disabled option to true.
            Any submitted value will be ignored.
        </td>
        <td>
<script type="php">
use Symfony\Component\Form\TextField

$field = new TextField('status', array(
    'data' => 'Old data',
    'disabled' => true,
));
$field->submit('New data');

// prints "Old data"
echo $field->getData();
</script>
        </td>
    </tr>
    <tr>
        <td>required</td>
        <td>2.0</td>
        <td>bool</td>
        <td>true</td>
        <td>If true, a HTML5 <code>required</code> attribute will be rendered.</td>
        <td></td>
    </tr>
    <tr>
        <td>trim</td>
        <td>2.0</td>
        <td>bool</td>
        <td>true</td>
        <td>If true, the whitespace of the submitted string value will be stripped via the trim() function when the
            data is bound.
        </td>
        <td></td>
    </tr>
    <tr>
        <td>attr</td>
        <td>2.0</td>
        <td>array</td>
        <td>Empty array</td>
        <td>If you want to add extra attributes to HTML field representation you can use attr option.</td>
        <td>
<script type="php">
$builder->add('body', 'textarea', array(
    'attr' => array('class' => 'tinymce'),
));
</script>
        </td>
    </tr>
    <tr>
        <td>translation_domain</td>
        <td>2.0</td>
        <td>string</td>
        <td>messages</td>
        <td>This is the translation domain that will be used for any labels or options that are rendered for
            this field.
        </td>
        <td></td>
    </tr>
    <tr>
        <td>data_class</td>
        <td>2.0</td>
        <td>string</td>
        <td></td>
        <td>Allows to set the name of the class that holds the underlying data. Required since 2.1 and if not set,
            an array is expected.
        </td>
        <td>
<script type="php">
public function getDefaultOptions(array $options)
{
    return array(
        'data_class' => 'Acme\TaskBundle\Entity\Task',
    );
}
</script>
        </td>
    </tr>
    <tr>
        <td>read_only</td>
        <td>2.0</td>
        <td>bool</td>
        <td>false</td>
        <td>In 2.0 if this option is <code>true</code>, the field will be rendered with the <code>disabled</code> attribute, since 2.1
            with <code>readonly="readonly"</code>
        </td>
        <td>
<script type="php">
public function getDefaultOptions(array $options)
{
    return array(
        'data_class' => 'Acme\TaskBundle\Entity\Task',
    );
}
</script>
        </td>
    </tr>
    </tbody>
</table>

<h2>Field Types</h2>

<h3>Text Fields</h3>

<table>
    <thead>
    <tr>
        <th>Field&nbsp;type</th>
        <th>Since</th>
        <th>Description</th>
        <th title="Its own options">Options</th>
        <th>Example</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="http://symfony.com/doc/current/reference/forms/types/text.html">text</a></td>
        <td>2.0</td>
        <td>The text field represents the most basic input text field.</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="http://symfony.com/doc/current/reference/forms/types/textarea.html">textarea</a></td>
        <td>2.0</td>
        <td>Renders a textarea HTML element.</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="http://symfony.com/doc/current/reference/forms/types/email.html">email</a></td>
        <td>2.0</td>
        <td>The email field is a text field that is rendered using the HTML5 <code>&lt;input type="email" /&gt;</code>
            tag.
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="http://symfony.com/doc/current/reference/forms/types/integer.html">integer</a></td>
        <td>2.0</td>
        <td>The input <code>number</code> field looks like a text box, except that - if the user's browser supports
            HTML5 - it will have some extra frontend functionality.
        </td>
        <td>
            <a href="http://symfony.com/doc/current/reference/forms/types/integer.html#rounding-mode"
               data-content="<strong>type</strong>: <code>int</code> <strong>default</strong>: <code>IntegerToLocalizedStringTransformer::</code> <code>ROUND_DOWN</code>. By default, if the user enters a non-integer number, it will be rounded down. There are several other rounding methods: <code>IntegerTo...::ROUND_FLOOR</code>, <code>IntegerTo...::ROUND_UP</code>, <code>IntegerTo...::ROUND_CEILING</code>.">
                rounding_mode</a>,
            <a href="http://symfony.com/doc/current/reference/forms/types/integer.html#grouping"
               data-content="<strong>type</strong>: <code>int</code> <strong>default</strong>: <code>false</code>. This value is used internally as the NumberFormatter::GROUPING_USED value when using PHP's NumberFormatter class. If you set this to true, numbers will be grouped with a comma or period (depending on your locale): 12345.123 would display as 12,345.123.">
                grouping</a>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
